<style media="screen">
    p#about {
        text-align: center;
    }
    h1 {
        text-align: center;
        padding-top: 15px;
    }
</style>
<h1>About us</h1>

<p id="about">
    We are two 18 year old kids with a love for design and coding. We are building
    this website to expand our portfolio, and get better at what we love.<br /> Right
    now we are building a website to show you youtube videos to find new talent.
    We are fully aware that youtube has the feature, but we want to expand on this.
</p>
<h2>Jordan</h2>
<p>
    Make these appear on click
</p>
<h2>Aaron</h2>
<p>
    Make these appear on click
</p>
